#App {
  width: 80vw;
  height: 50vh;
  /* background: black; */
  border: 1px solid black;
  /* border-radius: 50px 0; */
  margin: 100px;
  padding: 100px;
  box-sizing: border-box;
  color: red;
  font-size: 1em;
  transition: all 2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#children {
  width: 200px;
  height: 200px;
  /* background: red; */
}


/*
크기 단위
테두리, 깎는거
패딩
마진
크기 기준
배경색상
폰트색상
폰트크기
부드러운 모션
경고창
*/